@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Chinook</h1>
    <p>Con Chinook podrás encontrar tus canciones o álbumes completos de sus artistas favoritos.</p>
    <img 
         src="https://res.cloudinary.com/dejau9zgq/image/upload/v1601760787/Music-bro.svg" 
         alt="Music" 
         style="max-width: 680px; object-fit: cover"
         />
</div>
